body {
  padding-top: 56px;
  background: #fff;
}
/*
#video {
  border: 10px solid #FFF;
  border-color:#343a40;  gray-dark
  border-radius: 4px;
  padding: 0px;w=
  box-shadow: 0 0 2px 1px;
  width:500px;
}*/

#video {
  width:100%;
  height:100%;
}
